/* ------------------- BACKGROUND ------------------- */

body{
    background-image: url(../img/background-areia.jpg);
}

/* ------------------- HEADER LOGO E SOCIAL MEDIA ------------------- */
.header{
    width: 50%;
    margin: auto;
}

.header .logo{
    float: left;
    padding: 15px;
}

.header .socialMedia{
    float: right;
}

.header p{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.header .socialMedia .telefone{
    font-size: 20px;
    font-weight: bold;
}

.header .socialMedia .telefone #ddd{
    font-size: 13px; 
    font-weight: bold;
}

.header .socialMedia ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

.header .socialMedia li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.header .socialMedia .socialIcons{
    font-size: 36px;
    color: black;
}

.header .socialMedia .socialIcons a:link,
.header .socialMedia .socialIcons a:visited,
.header .socialMedia .socialIcons a:hover,
.header .socialMedia .socialIcons a:active{
    text-decoration: none;
}

/* Add a hover effect if you want */
.header .fa:hover {
    opacity: 0.7;
}

.header .fa:before {
    text-decoration: none;
}

/* ------------------- HEADER DIVIDER ------------------- */
.headerDivider img{
    width: 100%;
}

/* ------------------- MENU SUPERIOR ------------------- */
.menuSuperior{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    margin: auto;
}

.menuSuperior ul {
    list-style-type: none;
    margin: 0;
    margin-left: 7%;
    padding: 0;    
    overflow: hidden;
}

.menuSuperior li {
    float: left;
}

.menuSuperior li a, .menuSuperior .dropbtn1 {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*ANTERIOR: .menuSuperior .dropdown:hover .dropbtn, .menuSuperior li a:hover*/  
.menuSuperior .dropdown1:hover .dropbtn1,
.menuSuperior .dropdown4:hover .dropbtn4{
    background-color: #FF4B3B;
    color: white;
}

.menuSuperior .dropdown2:hover .dropbtn2,
.menuSuperior .dropdown5:hover .dropbtn5{
    background-color: #157AD0;
    color: white;
}

.menuSuperior .dropdown3:hover .dropbtn3{
    background-color: #F6BD11;
    color: white;
}

.menuSuperior li.dropdown1,
.menuSuperior li.dropdown2,
.menuSuperior li.dropdown3,
.menuSuperior li.dropdown4,
.menuSuperior li.dropdown5{
    display: inline-block;
}

.menuSuperior .dropdown-content1, 
.menuSuperior .dropdown-content2,
.menuSuperior .dropdown-content3,
.menuSuperior .dropdown-content4,
.menuSuperior .dropdown-content5 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menuSuperior .dropdown-content1 a,
.menuSuperior .dropdown-content2 a,
.menuSuperior .dropdown-content3 a,
.menuSuperior .dropdown-content4 a,
.menuSuperior .dropdown-content5 a {
    color: black;
    font-size: 0.75em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menuSuperior .dropdown-content1 a:hover,
.menuSuperior .dropdown-content2 a:hover,
.menuSuperior .dropdown-content3 a:hover,
.menuSuperior .dropdown-content4 a:hover,
.menuSuperior .dropdown-content5 a:hover{
    background-color: #f1f1f1
}

.menuSuperior .dropdown1:hover .dropdown-content1,
.menuSuperior .dropdown2:hover .dropdown-content2,
.menuSuperior .dropdown3:hover .dropdown-content3,
.menuSuperior .dropdown4:hover .dropdown-content4,
.menuSuperior .dropdown5:hover .dropdown-content5 {
    display: block;
}


/**{
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/